
<div class="container-xxl bg-white p-0">

    <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
  
  
    <!-- Carousel Start -->
    <app-carousel></app-carousel>
    <!-- Carousel End -->
  
  
    <!-- Booking Start -->
    <app-booking></app-booking>
    <!-- Booking End -->
  
  
    <!-- About Start -->
    <app-about></app-about>
    <!-- About End -->
  
  
    <!-- Room Start -->
    <app-room></app-room>
    <!-- Room End -->
  
  
    <!-- Video Start -->
    <app-video></app-video>
    <!-- Video Start -->
  
  
    <!-- Service Start -->
    <app-service></app-service>
    <!-- Service End -->
  
  
    <!-- Testimonial Start -->
    <app-testimonial></app-testimonial>
    <!-- Testimonial End -->
  
  
    <!-- Team Start -->
    <app-team></app-team>
    <!-- Team End -->
  
  
    <!-- Newsletter Start -->
    <app-newsletter></app-newsletter>
    <!-- Newsletter Start -->
  
  
    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
  
  
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>